.projects{
    max-width: 1366px;
    margin: auto;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.project-div{
    text-align: center;
    display: flex;
    align-items: center ;
    flex-direction: column;
    gap: 30px;
}
.project-div img{
    width: 60px;
    height: 60px;
}

.projects-wrapper{
    display: flex;
    gap: 150px
    ;
}
.project-div h1{
    font-weight: 600;
    color: #000;
    font-size: 50px;
}

.project-div h4{
    color: #fd5732;
}