.Contact{
    min-height: 80vh;
    margin: auto;
    background-image: url("../../Assets/Heroimg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    gap: 100px;
    justify-content: center;
    

}

.Contact-wrapper{
    display: grid;
    width: 1366px;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 600px;
    background-color: rgb(255, 255, 255);
    border: 5px solid #fd5732;
    border-radius: 15px;
}

.form input{
    width: 90%;
        background: transparent;
        border: none;
        padding: 10px 50px;
        border: 1px solid #8b8b8b;
    color: black;
    border-radius: 10px;
        margin-top: 40px;
        outline: none;
}
.form textarea {
    width: 90%;
    background: transparent;
    border: none;
    padding: 10px 50px;
    border: 1px solid #8b8b8b;
    color: black;
    border-radius: 10px;
    height: 400px;
    margin-top: 40px;
    outline: none;
}
.form button{
    width: 200px;
    background: transparent;
    border: none;
    padding: 10px 20px;
    color: white;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 10px;
    background: #000;
    margin-top: 100px;
    margin-bottom: 50px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.form button:hover{
    color: black;
    background-color: white;
}


.contact-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-content h1{
    font-weight: 600;
    color: white;
}

.contact-content p{
    color: white;
}