.carouasal-1{
    height: 60vh;
    background: url("../Assets/BuildingImg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}
.carouasal-2 {
    height: 60vh;
    background: url("../Assets/Construction.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}
.carouasal-3 {
    height: 60vh;
    background: url("../Assets/bg-2.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}
.carousel-caption h1{
    font-size: 60px;
    margin-bottom: 0px;
}

.carousel-caption h3 {
    font-size: 50px;
    margin-bottom: 180px;
}

.hero {
    min-height: 100vh;
}

.carousel-item img{
    object-fit: contain;
}

.carousel-caption h5{
    font-size: 50px;
    color: #fff;
    font-weight: 600;
    margin-bottom: 180px;
}