.contact{
    width: 100%;
    min-height: 100vh;
    background-image: url("../../Assets/ContactImage.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.contact-wrapper{
    max-width: 1366px;
    margin: auto;
    padding-top: 50px;
   display: grid;
   grid-template-columns: 1fr 1fr;
}
.left-content span{
    width: 100%;
}
form{
    margin-top: 50px;
    display: flex;
    gap: 40px;
    flex-direction: column;
}

form input{
    background-color: rgb(251, 243, 232);
    outline: none;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    width: 100%;
}

form textarea {
    background-color: rgb(251, 243, 232);
    outline: none;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    width: 100%;
}


/* styles.css or your preferred CSS file */
form input[type="submit"] {
    background-color: #000;
    outline: none;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    color: white;
    cursor: pointer;
    /* Adding pointer cursor for better UX */
}

button[type="submit"]:hover {
    /* You can add hover styles if desired */
}


@media(max-width:1250px){
    .contact-wrapper{
        padding: 50px;
    }
}

@media(max-width:800px){
    .contact-wrapper{
        grid-template-columns: 1fr;
        gap: 50px;
    }
}


@media(max-width:500px){
    form{
        width: 100%;
    }

   .left-content p{
    font-size: 13px;
    width: 300px;
   }
   .left-content{
    display: flex;
    flex-direction: column;
   }

   .left-content h3{
    width: 300px; 
    
   }
   .left-content {
       width: 100%;
   }

   
}